<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
		<script src="https://unpkg.com/d3-fetch"></script>
		<!-- <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script> -->
		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<title>Distopia Interface</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas-->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Nothing+You+Could+Do|Permanent+Marker|Rock+Salt&display=swap" rel="stylesheet">
		<!-- CSS -->
		<link rel="stylesheet" href="static/css/normalize.css">
		<link rel="stylesheet" href="static/css/skeleton.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script type="text/javascript">var session_id = {{ session_id }} </script>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
		<span class="header"></div>DisTopia: Redistricting Design</span>
		<div class="screen" id = "screen">
			<div class="container" style="min-width: 98%">
				<div class="row">
					<div class="one-half column offset-by-three" style="text-align: center">
						
					</div>
				</div>
			</div>
			<div class="container" id="state-view" style="min-width: 98%;">
				<div class="row">
					<div class="one-half column">
						<div class="row" style="height: 8vh; margin-bottom: 1%;" id = "label_area">
								<span>		
									<label id="metric_selector_label" for="metric_selector" style="display:inline-flex">Metric:</label>
									<select id= "metric_selector""></select>
									<label id="district_selector_label" for="district_selector" style="display:inline-flex">District:</label>
									<select id= "district_selector""></select>
									<button id="reset_centroids">Reset Centroids</button>
								</span>
							<!-- ' <svg id="label_area"></svg> -->
						</div>
						<div class="row" style="height: 70vh; margin-bottom: 1%;">
							<svg id="state"></svg>
						</div>
						<div class="row" style="height: 13vh">
							<svg id="scale"></svg>
						</div>
					</div>
					<div class="one-half column" style="height: 90vh">
						<div class="row" style="height: 22vh; margin-bottom: 1%;">
						<div class="one-half column" style="height: 22vh">
							<svg id="task_dialog"></svg>
						</div>
						<div class="one-half column" style="height: 22vh">
							<div class="row" style="height: 15vh; margin-bottom: 1%;">
								<svg id="timer"></svg>
							</div>
							<div class="row" style="margin-bottom: 1%;">
								<button id = "add_time"/> Add Time </button>
								<button id = "next_task"/> Next Task </button>
							</div>
						</div>
						</div>
						<div class="row" style="height: 70vh; margin-bottom: 1%; margin-top: 1%;">
							<svg id="radar"></svg>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="module" src="static/js/GUI.js"></script>
		<!-- <script type="module" src="static/js/districtView.js"></script> -->
		<script type="module" src="static/js/stateView.js"></script>
		<script type="module" src="static/js/viz/radarchart.js"></script>
		<script type="module" src="static/js/viz/histogram.js"></script>
	</body>
</html>
